.column {
  height: 90svh;
  border: 2px dashed #0087f7;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlighted {
  composes: column;
  background-color: #f7f7f7;
}
